/************************************
*************************************
*************************************
versão tablets
*************************************
*************************************
************************************/
label{
	font-size: 1.2em;
}

.submit{
	font-size: 1.1em;
	background: $bodybg;
	padding: 0.5em 1em;
	outline: none;
	border: none;
	color: $onecolor;
	border-radius: 8px;
	box-shadow: -4px 4px rgba(0,0,0,0.2);
	text-shadow: -1px 1px 0px rgba(0,0,0,0.2);
	margin-top: 2em;
	@include single-transition($speed:0.3s);

	&:hover{
		opacity: 0.7;
	}
}

	.titulo_esquerda{
		h3{
			border-bottom: 2px solid rgba(0,0,0,0.4);
		}
	}

section#contato{
	margin-bottom: 50px;
}

@media only screen and (min-width: 40em) {


	#contato_content{
		margin-bottom: 3.5em;
	}
}