/* fonts */
@font-face {
    font-family: 'roboto_condensedbold';
    src: url('fonts/robotocondensed-bold-webfont.eot');
    src: url('fonts/robotocondensed-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/robotocondensed-bold-webfont.woff') format('woff'),
         url('fonts/robotocondensed-bold-webfont.ttf') format('truetype'),
         url('fonts/robotocondensed-bold-webfont.svg#roboto_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans-regular-webfont.eot');
    src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-regular-webfont.woff') format('woff'),
         url('fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* alguns resets meus */
ul{
	list-style: none;
}

h1{
	font-family: 'roboto_condensedbold';
	color: red;
	text-shadow: -2px 2px rgba(0,0,0,0.16);
}

span{
	font-family: 'roboto_condensedbold';
}

p{
	font-family: 'open_sansregular';
}

.titulo{
	margin-top: 2em;
	margin-bottom: 2em;


	h3{
		font-size: 2em;
		font-family: 'roboto_condensedbold';
		text-shadow: -2px 2px rgba(0,0,0,0.2);
	}
}

ul li img{
	width: $img_responsive;
}


/* Header */
header{
	background-color: $bodybg;

	#topbar{
		#logo{
			margin-top:1.5em;
			margin-bottom: 2em;

			img{
				width: 100%;
			}
		}

		nav {
			#pull{
				background: $treecolor;
				padding-top: 0.75em;
				padding-bottom: 0.75em;
				font-size: 1.5em;
				margin-bottom: 1em;

				a{
					color: white;
				}
			}

			ul{
				padding: 0px;
				margin: 0px;

				li{
					text-align: center;
					background: $treecolor;
					border-bottom: 1px solid rgba(255,255,255,0.2);
					padding-top:0.75em;
					padding-bottom: 0.75em;
					@include single-transition($speed:0.3s);

					a{
						color: $bodybg;
					}
				}
			}
		}
	}
	

	.header_content{
		clear: both;
	}

	#foto_destaque{
		margin-top: 0.67em;
	}
}

/* section instruções */

section#instrucoes{

	.big{
		font-weight: bold;
		font-size: 2em;
	}

	#content_instrucoes{
		dl{
			dd{
				a{
					padding: 1em 2em;
					text-shadow: -1px 1px rgba(0,0,0,0.2);
				}
			}
		}
	}

	#pedir{
		margin-top: 3em;

		.btn{
			font-size: 1.1em;
			background: $bodybg;
			padding: 1em 1.25em;
			color: $onecolor;
			border-radius: 8px;
			box-shadow: -4px 4px rgba(0,0,0,0.2);
			text-shadow: -1px 1px 0px rgba(0,0,0,0.2);

			&:active{
				position: relative;
				top: 2px;
			}
		}
	}
}

/* section separação */

div#separacao{
	margin-top: 50px;
	margin-bottom: 50px;
}

/* section trabalhos */

section#trabalhos{
	margin-bottom: 50px;

	#portfolio{
		ul{
			li{
				margin-top: 1.5em;

				span{
					font-size: 1.5em;
					border-bottom: 2px solid black;
					padding-bottom: 1px;
					margin-bottom: 10px;
					text-align: center;
				}
			}
		}
	}
}

/* section footer */

footer{
	background: $onecolor;
	color:white;

	#social{
		margin-top:2em;
		
		.face{
			padding: 0.5em 1em;
			background: rgb(59,89,152);
			font-size: 1.2em;
			box-shadow: -4px 4px rgba(0,0,0,0.4);
			border-radius: 5px;
			color: white;
			text-shadow: -2px 2px rgba(0,0,0,0.4);
			font-weight: bold;
		}
	}
}

/* portfólio */



/* mediaqueries */

/************************************
*************************************
*************************************
versão mobile
*************************************
*************************************
************************************/
@media only screen and (min-width: 1em){
	footer{
		.row{
			#social{
				.face{
					&:active{
						position: relative;
						top: 2px;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 40em) {


	nav{
		ul{
			display: none;

			li{
				width: 100%;
			}
		}
	} 

	dl{
		dd{
			width: calc(100% / 3);
			margin-left: 0px;
			box-shadow: 0px 4px 0px rgba(0,0,0,0.4);

			a{
				font-size: 90%;	
			}
		}
	}

	footer{
		#social{
			margin-bottom:2em;
			
			.face{
			}
		}
	}

}

/************************************
*************************************
*************************************
versão mobile (iphone 3-5)
*************************************
*************************************
************************************/

@media only screen and (max-width: 360px) {
	.titulo{
		h3{
			font-size: 1.5em;
		}
	}

	dd{
		font-size: 75%;

		a{
			font-size: 70%;	
		}
	}

	b{
		font-size: 80%;
	}

	p{
		font-size: 80%;
	}

	a{
		font-size: 85%;
	}

	h1{
		font-size: 150%;
	}

	header{
		.row{
			#wrap1{
				#logo{
					width: 60%;
				}
			}

			.header_content{
				width: 90%;
			}
		}
	}

	section#instrucoes{
		.row{
			#content_instrucoes{
				dl{
					width: 100%;
				}
			}
		}
	}

	#separacao{
		display: none
	}

	section#trabalhos{
		#portfolio{
			#web{
				ul{
					li{
						span{
							font-size: 1.2em;
						}
					}
				}
			}
		}
	}
}

/************************************
*************************************
*************************************
versão tablets
*************************************
*************************************
************************************/

@media only screen and (min-width: 40em) {
	/*
	.titulo{
		h3{
			text-decoration: underline;
		}
	}
	*/

	header{
		#topbar{
			nav{
				ul{
					float: right;
					margin-right: 2em;
					border-right: 2px solid rgba(0,0,0,0.5);
					border-bottom: 2px solid rgba(0,0,0,0.5);
					padding-right: 1em;

					li{
						font-size: 1.1em;
						float: left;
						margin-left: 20px;
						background: transparent;
						padding-top:1.5em;
						border-bottom: 2px solid transparent;

							&:hover{
								border-bottom: 2px solid red;
							}
							
							/*
							&:last-child{
								padding-right: 1em;
							}
							*/

						.atual{
							background: rgb(255,0,0);
							color: $bodybg;
							padding: 5px 10px;
							box-shadow: -4px 4px rgba(0,0,0,0.2);
							text-shadow: -2px 2px rgba(0,0,0,0.2);
						}

						a{
							color: $onecolor;
							
						
							&:active{
								color: red;
							}
						}
					}
				}
			}
		}

		.header_content{
			margin-top: $treemargin;
			margin-bottom: $treemargin;
		}

	}

	section#instrucoes{
		#content_instrucoes{
			dl{
				dd{
					margin-left: 1.5em;
					box-shadow: -3px 3px 0px rgba(0,0,0,0.2);
		
					&:first-child{
						margin-left: 0px;
					}

					a{
						padding: 0.70em 1em;;
					}
				}
			}

			.tabs-content{
				margin-top: 2em;

				.top01{
					margin-top: 0px;
				}

				#pt1{
					img{
						/*
						float: right;
						width: 100%;
						*/
					}
				}
				#pt2{
					float:left;

					div{
						margin-top: 2.5em;
					}
					img{
						float: left;
					}

					.top02{
						margin-top: 2.5em;
					}
				}

				#pedir{
					margin-top: 5em;

					.btn{

					}
				}
			}
		}
	}

	section#trabalhos{
		#portfolio{
			ul{
				li{

					span{
						font-size: 1.25em;
						border-bottom: 0px solid transparent;
					}
				}
			}
		}
	}


	footer{
		.row{
			#social{
				.face{
					&:active{
					}
				}
			}
		}

		#direitos{
			padding-top: 2em;
			float: left;
		}
	}


	.esquerda{
		width: 10%;
		float: left;
	}

	.direita{
		text-align: left;
	}

}

/************************************
*************************************
*************************************
versão desktop
*************************************
*************************************
************************************/

@media only screen and (min-width: 64.063em) {
/* min-width 1025px, large screens */

	section#trabalhos{
		margin-bottom: 75px;

		#portfolio{
			ul{
				li{
					padding: 0px;
					margin-left:5%;
					width: 30%;
					box-shadow: -8px 8px rgba(0,0,0,0.2);

						&:first-child{
							margin-left: 0px;
						} 

					img{
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}

	section#instrucoes{
		#content_instrucoes{
			.tabs-content{
				#pt1{

					.top01{
						margin-top: $treemargin;
					}

					img{
					}
				}
				#pt2{
					div{
						margin-top: 2.5em;
					}
					img{
					}

					.top02{
						margin-top: 4.5em;
					}
				}

				#pedir{
					margin-top: 5em;

					.btn{

					}
				}
			}
		}
	}

	.view{
		position: relative;
		overflow: hidden
	}

	.mask{
		width: 100%;
		height: 100%;
		background: $bodybg;
		position: absolute;
		top: 0px;
		left: 0px;
		overflow: hidden;

	   -webkit-transform: translate(200px, 250px) rotate(45deg);
	   -moz-transform: translate(200px, 250px) rotate(45deg);
	   -o-transform: translate(200px, 250px) rotate(45deg);
	   -ms-transform: translate(200px, 250px) rotate(45deg);
	   transform: translate(200px, 250px) rotate(45deg);

		@include single-transition($speed: 200ms);
	}

	.view:hover .mask{
	   -webkit-transform: translate(0px, 0px) rotate(0deg);
	   -moz-transform: translate(0px, 0px) rotate(0deg);
	   -o-transform: translate(0px, 0px) rotate(0deg);
	   -ms-transform: translate(0px, 0px) rotate(0deg);
	   transform: translate(0px, 0px) rotate(0deg);

	   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	   filter: alpha(opacity=100);
	   opacity: 1;
	}

	.content_mask{
		position: absolute;
		top: 37.5%;
		width: 100%;
		text-align: center;

		transform: scale(0);
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);

	   @include single-transition($speed: 150ms);
	    -webkit-transition-delay: 0.2s;
		-moz-transition-delay: 0.4s;
		-o-transition-delay: 0.4s;
		-ms-transition-delay: 0.4s;
		transition-delay: 0.2s;
	}

	.view:hover .content_mask{
		transform: scale(1);
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
	}

	footer{
		#social{
			.face{
				&:hover{
					background: red;
					color: $bodybg;
				}
			}
		}
	}

}

/************************************
*************************************
*************************************
Hacks
*************************************
*************************************
************************************/
/*
@media screen and (min-height:900px) {
	.pequeno{
		footer{
			position:absolute;
			bottom: -4.5em;
			width: 100%;
		}
	}
    // Save your content!
}
*/

.display{
	display:none;
}